.places__paragraph {
  grid-area: place_paragraphs;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .places__paragraph:nth-child(even) {
    padding-top: 26px;
  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  .places__paragraph {
    padding: 0 16px;
    font-size: 16px;
    max-width: 288px;
  }
  .places__paragraph:nth-child(1) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .places__paragraph {
    max-width: 456px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .places__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
  .places__paragraph:nth-child(2) {
    padding-top: 25px;
  }
}
