.cover__link{
  text-decoration: none;
  color: #fff;
}

.cover__link::after{
  content: "";
  background-color: #2A2C2F;
  width: 100%;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.cover:hover .cover__link::after {
  opacity: 0.8;
  transition: opacity 2s ease;
}
