.places__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: place_image;
  width: 100%;

}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .places__image {
    max-width: 340px;

  }
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .places__image {
    max-width: 440px;

  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .places__image {
    max-width: 340px;

  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  .places__image {
    max-width: 320px;


  }
}
