.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  height: 52px;
  padding: 28px 48px 56px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 0px) and (max-width: 425px) {
  .header {
    max-width: 288px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
