.cover__text {
  position: relative;
  z-index: 3;
  text-align: center;
  max-width: 560px;


}
@media screen and (min-width: 0) and (max-width: 767px) {
  .cover__text {
    max-width: 288px;
  }
}
