.cover__overlay {
  background-color: #2A2C2F;
  width: 100%;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.cover:hover .cover__overlay {
  opacity: 0.8;
  transition: opacity 2s ease;
}
