.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: place_website;
}
@media screen and (min-width: 0) and (max-width: 425px) {
  .places__website {
   padding: 0 16px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .places__website {

  }

}
